
    /*CSS FOR ANGELS IN THE CITY*/

    .details_main {
        width: 100%;
        height: 100%vh;
        display: flex;
        background-color: white;
    }
    
    .description_section {
        border: 1.7px solid rgb(165, 165, 165);
        background-color: rgb(185, 185, 185);
        opacity: 0.8;
        margin: 2rem auto;
        color: black;
        height: 31.5cm;
        width: 28cm;
    }
    
    .Description_h {
        margin-top: 60px;
        margin-left: 60px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 38px;
        letter-spacing: 2px;
    }

    h1 em {
        font-weight: 900;
        font-style: normal;
        
    }

    .Description_h3 {
        margin-left: 60px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 25px;
        margin-top: -8px;
        letter-spacing: 2px;
        color: rgb(71, 71, 71);
    }
    
    h3 em {
        font-weight: 900;
        font-style: normal;
        color: rgb(27, 27, 27);
        
    }


    .gridcontain{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-left: 60px;
        margin-right: 60px;
        
           
    }

    .gridimage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .griditem1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        position: relative;

       
    }

    .gridtriangle
    {
        position: absolute;
        opacity: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background: linear-gradient(to top left, rgba(255,255,255, 0.15) 50%, rgba(245,241,241, 0.705) 50%);
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        
    }

    .griditem1:hover .gridtriangle{
        opacity: 1;

    }


    .griditem2{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .griditem3{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .griditem4{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 9;
    }
    .griditem5{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 9;
    }
    
    .griditem6{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
    }

    a{
        color: currentColor;
    }


    li{
        list-style: none;
        margin: 10px 10px;
        display: inline-block;
        font-size: 25px;
        padding: 10px 10px;
        color:black;
    }

    li:hover 
    {
        opacity: 0.5;
    }







    /*__________________________*/
